## Import all the requiered libraries

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
from hpelm import ELM

In [14]:
# Load the dataset
data = pd.read_excel('data/M1.xlsx')
data

       Qa   Qc   Qd  Qhx  Ir   Qe  WPR
0     0.0  0.0  0.0  0.0   0  0.0  0.0
1     0.0  0.0  0.0  0.0   0  0.0  0.0
2     0.0  0.0  0.0  0.0   0  0.0  0.0
3     0.0  0.0  0.0  0.0   0  0.0  0.0
4     0.0  0.0  0.0  0.0   0  0.0  0.0
...   ...  ...  ...  ...  ..  ...  ...
8755  0.0  0.0  0.0  0.0   0  0.0  0.0
8756  0.0  0.0  0.0  0.0   0  0.0  0.0
8757  0.0  0.0  0.0  0.0   0  0.0  0.0
8758  0.0  0.0  0.0  0.0   0  0.0  0.0
8759  0.0  0.0  0.0  0.0   0  0.0  0.0

[8760 rows x 7 columns]

In [15]:
# Check for missing values
print("Missing values in M1:")
display(data.isnull().sum())

Missing values in M1:

Qa     0
Qc     0
Qd     0
Qhx    0
Ir     0
Qe     0
WPR    0
dtype: int64

In [16]:
# Basic statistics of the dataset
print("\nStatistical summary for M1:")
display(data.describe())

Statistical summary for M1:

,Qa,Qc,Qd,Qhx,Ir,Qe,WPR
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,4.220560,3.469031,4.371276,0.936295,254.751712,3.318243,0.374863
std,5.934791,4.919391,6.168723,1.163601,342.155881,4.685608,1.019537
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000
75%,8.618000,7.154250,8.875000,2.090000,519.000000,6.897000,0.000000
max,19.803000,16.260000,20.722000,3.280000,1078.000000,15.341000,11.402640

In [18]:
# Drop rows with missing values
data = data.dropna()

In [19]:
# Identify categorical columns
categorical_cols_m1 = data.select_dtypes(include=['object', 'category']).columns

In [20]:
label_encoder = LabelEncoder()
for col in categorical_cols_m1:
    data[col] = label_encoder.fit_transform(data[col])

In [23]:
# Features (X) and target (y)
X = data.drop('WPR', axis=1)
y = data['WPR']

In [24]:
X[:6]

    Qa   Qc   Qd  Qhx  Ir   Qe
0  0.0  0.0  0.0  0.0   0  0.0
1  0.0  0.0  0.0  0.0   0  0.0
2  0.0  0.0  0.0  0.0   0  0.0
3  0.0  0.0  0.0  0.0   0  0.0
4  0.0  0.0  0.0  0.0   0  0.0
5  0.0  0.0  0.0  0.0   0  0.0

In [25]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [26]:
X_train_m1, X_test_m1, y_train_m1, y_test_m1 = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [29]:
from sklearn.preprocessing import OneHotEncoder

# Step 7: Initialize and Train the ELM Model

# One-hot encode the target variable
onehot_encoder = OneHotEncoder(sparse=False)
y_train_m1_encoded = onehot_encoder.fit_transform(y_train_m1)

# Initialize ELM model with the number of output neurons equal to the number of classes
n_classes = y_train_m1_encoded.shape[1]
elm = ELM(X_train_m1.shape[1], n_classes, classification="c", w=None)
elm.add_neurons(100, "sigm")

# Train the ELM model
elm.train(X_train_m1, y_train_m1_encoded, 'c')

/home/wakili/anaconda3/envs/mlenv/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [32]:
from sklearn.metrics import classification_report, confusion_matrix

# Step 8: Make Predictions
y_pred_elm = elm.predict(X_test_m1)

# Convert predictions to class labels (by taking the argmax)
y_pred_elm_labels = np.argmax(y_pred_elm, axis=1)

In [33]:
# Classification report
print("ELM Classification Report for M1:")
print(classification_report(y_test_m1, y_pred_elm_labels))

# Confusion Matrix
print("Confusion Matrix for M1:")
print(confusion_matrix(y_test_m1, y_pred_elm_labels))

ELM Classification Report for M1:

ValueError: Classification metrics can't handle a mix of continuous and multiclass targets